nav {
    padding: 1.1rem 5rem;
  }
  nav .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
  nav ul li {
    list-style-type: none;
    margin-left: 3rem;
    font-size: 0.9rem;
    font-weight: 600;
  }

  .header {
    border-radius: 30px;
    justify-content: space-between;
    margin: 40px;
    font-family: "GARAMOND", sans-serif;
    /* background-color:#eee ; */
  }
  .header h1 {
    margin: auto;
    font-size: 4rem;
    font-weight: 500;
    display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
  font-weight: bold;
  }
  .header p {
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
  justify-content: flex-start;
  font-size: 1.1rem;
  margin-left: 5rem;
  }
  .header button {
    cursor: text;
    margin-bottom: 1.5rem;
    display: flex;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-left: 5rem;
  }
  .header a {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
  justify-content: flex-start;
  margin-left: 5rem;
  }
  nav {
    padding: 1rem 2rem;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  nav ul, nav ul li, .active {
    display: none;
  }
  .header {
    padding: 2rem 2rem 0rem 2rem;
  }
  section {
    padding: 1rem 2rem;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono';
  }
  * {
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  .dark-bg {
    background-color: #25262A;
  }
  .light-bg {
    background-color: #dceefe;
  }
  .white {
    color: #000000;
  }
  .gray {
    color: #463c3c;
  }
  .green {
    color: #0bc06b;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .flex-full {
    flex: 1;
  }
  .justify-space {
    justify-content: space-between;
  }
  section {
    padding: 5rem 5rem;
  }
  button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    color: #2D2E32;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #36e192;
    cursor: pointer;
  }