.container{
    background-color: white;
}

.card{
    margin-bottom: 20px;
}
.list{
    display: inline-flex;
}
.more{
    background-color: #0c4e88;
    color:white;
    display: inline-block;
}
.all i{
        margin-top: 5px;
        margin-left: 10px;
}
